@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: medium;
}

.App {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.background-logo {
  position: fixed;
  z-index: -1;
  width: 40%;
  bottom: 0%;
  right: 0px;
  opacity: 0.25;
  box-shadow: none;
}

.youtube-video {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  opacity: 0.75;
  width: 100%;
  max-width: 450px;
  margin-bottom: 1rem;
}

.translated-word {
  max-width: 80rem;
  width: 100%;
  overflow-y: scroll;
  padding: 1rem;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.781);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-align: justify;
}
::-webkit-scrollbar {
  width: 0%;
}

h4,
h3 {
  color: #001824bb;
  text-shadow: .5px .5px 0.35px rgba(129, 129, 129, 0.3);
}

h5,
h6 {
  color: #eb0606a4;
  text-shadow: 0.5px 0.5px 0.35px rgba(141, 141, 141, 0.3);
}
/*  ---------- Home && Login part ------------*/

#loginPage {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url(../src/images/germanLogo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  color: white;
  scroll-behavior: smooth;
}

.subLogin {
  background-color: rgba(100, 100, 100, 0.753);
  padding: 2rem 3rem;
  border-radius: 20px;
  min-height: 60vh;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subLogin h1 {
  margin-bottom: 2rem;
  font-size: xx-large;
}

.subLogin h3 {
  font-size: x-large;
}


#home {
  width: 100vw;
  padding: 3vw 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(68, 68, 68);
}


.carousel{
  max-width: 700px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

.carouselCaption p{
  background-color: rgba(58, 58, 58, 0.699);
  color: rgb(255, 255, 255);
  padding: 2px 0px;
  font-weight: bold;
  border-radius: 5px;
}

#home h4 {
  color: rgb(68, 68, 68);
  margin: 1rem 0rem;
}

#home button{
  display: none;
}

.drawLine{
  width: 150px;
  height: 5px;
  margin: 10px 0px;
  background: #e4b747;
  border-radius: 5px;
}

#home .featureText{
  margin-bottom: 25px;
}


.inputUserName {
  border: none;
  outline: none;
  background-color: #ffffffd2;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 5px 15px;
}

.inputPassword {
  border: none;
  background-color: #ffffffd2;
  outline: none;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px 15px;
}

.logInText {
  color: white;
  margin-bottom: 1.5rem;
}

.login {
  padding: 3px 118px;
  border-radius: 3px;
  border: 0.5px solid gray;
  transition: 0.5s ease-in-out;
  margin-bottom: 1rem;
  color: white;
  background-color: #3a3a3a8f;
}

.login:hover {
  background-color: rgb(255, 255, 255);
  color: #000000be;
}

.registerMe {
  padding: 3px 95px;
  border-radius: 3px;
  border: 0.5px solid gray;
  transition: 0.5s ease-in-out;
  margin-bottom: 1rem;
  color: white;
  background-color: #3a3a3a8f;
}

.registerMe:hover {
  background-color: rgb(255, 255, 255);
  color: #000000be;
}

.regisNotificationButton {
  border: none;
  background-color: rgb(255, 255, 255);
  color: #000000be;
  padding: 1px 5px;
  border-radius: 5px;
}

.signUp {
  padding: 0px 15px;
  border-radius: 3px;
  border: 0.5px solid gray;
  transition: 0.5s ease-in-out;
  margin-bottom: 1rem;
  color: white;
  background-color: #3a3a3a8f;
}

#home button {
  padding: 5px 50px;
  border-radius: 10px;
  border: 0.5px solid gray;
  position: fixed;
  top: 80px;
  right: 0;
}

footer {
  color: rgba(0, 0, 0, 0.781);
}

footer p:last-child {
  font-size: small;
}

/*  ---------- Navigating part ------------*/

.navigation {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: #d6d6d6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -10px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sub-nav a {
  text-decoration: none;
  color: rgb(68, 68, 68);
}

.nav-logo {
  width: 110px;
  height: 38px;
  box-shadow: none;
}

.sub-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* -------- Components --------*/

/* ------- App -------*/

#logout {
  position: fixed;
  padding: 5px 25px;
  background-color: #0000009f;
  color: rgb(255, 255, 255);
  border: none;
  bottom: 25px;
  right: 25px;
  border-radius: 10px;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

#logout:hover {
  color: rgb(248, 192, 36);
  background-color: #000000;
}


/* --Article --*/

.Article,
.TranslateToEnglish,
.Cases,
.TranslateToGerman,
#translation
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  color: rgb(75, 74, 74);
}

.article-photos img {
  width: 100%;
  max-width: 750px;
}


/* --Cases --*/

.cases-photos img {
  width: 100%;
  max-width: 750px;
}

img {
  width: 100%;
  max-width: 750px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 5px;
}

/* --------En-En -------*/

.individualWord:hover {
  color: #ba2023;
  cursor: pointer;
}

.inputField,
.textArea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.inputField input {
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.116) 0px 5px 10px -5px,
    rgba(0, 0, 0, 0.13) 0px 5px 5px -2px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: none;
}

 .TranslateToEnglish textarea,
 .TranslateToGerman textarea,
.textDiv {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  padding: 1rem;
  width: 50%;
  max-width: 40rem;
  min-height: 15rem;
  text-align: justify;
}

.instructionForUser {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  padding: 0.5rem;
  width: 100%;
  max-width: 80rem;
  margin-bottom: 1rem;
}

/* ------ ListedWord ------*/

#listedWord {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

#listedWord button {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  padding: 5px 20px;
  margin-right: 10px;
  border: none;
  background-color: #464646;
  color: #ffffff;
  transition: 0.2s ease-in-out;
}

#listedWord button:hover {
  background-color: #ffffff;
  color: #1b1b1b;
}

.wordsList {
  margin-top: 1rem;
}

.wordsList li {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

#listedWord ol button {
  border-radius: 25%;
  padding: 0px 6px;
  font-size: 12px;
  color: #e60105;
  border: none;
  background-color: #ffffff;
}

.englishListedWords,
.germanListedWords {
  width: 50%;
  max-width: 40rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* ----- Translation ----- */



#translation textarea{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  padding: 1rem;
  width: 80vw;
  max-width: 40rem;
  min-height: 15rem;
  text-align: justify;
}

#translation .showTranslatedResult {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  padding: 1rem;
  width: 80vw;
  max-width: 40rem;
  min-height: 15rem;
  text-align: justify;
  margin-bottom: 1rem;
  position: relative;
}



#translation select{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  top: 0px;
  outline: none;
}




/* ----- Media query ----- */

@media screen and (min-width: 1400px) {
  .background-logo {
    position: fixed;
    z-index: -1;
    width: 300px;
    bottom: 0%;
    left: 70%;
    opacity: 0.25;
    box-shadow: none;
  }
}

@media screen and (max-width: 768px) {
  * {
    font-size: small;
  }
  textarea,
  .textDiv,
  .instructionForUser {
    padding: 7.5px 5px;
  }
  #home {
    padding-top:50px ;
  }

  .login {
    padding: 2px 98px;
  }
  .registerMe {
    padding: 3px 80px;
  }

  #listedWord ol button {
    border-radius: 5px;
    font-size: 13px;
    line-height: 0px;
    color: #ff0207;
    border: none;
    background-color: #ffffff;
  }

  #listedWord button {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    padding: 2px 5px;
    border: none;
    background-color: #161616;
    color: #ffffff;
  }
}
